{% extends './profile.html' %}
{% load static %}

{% block nav_links %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'projects' userdata %}#projects">
        Projects
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'experiences' userdata %}#experiences">
        Experiences
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
        href="#certificates">
        Certificates
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#biodata">
        Biodata
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#contact">
        Contact
    </a>
</li>
{% endblock nav_links %}

{% block page_title %}{{ userdata }} Certificates{% endblock page_title %}

{% block contents %}
<!--Certicicate Section-->
<section id="certificates" class="masthead bg-primary text-center text-white pb-5">
    <div class="container">
        <!--Certificate Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            {{ userdata.user.first_name }} Certificates
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Certificates Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            Some Certificates By {{ userdata.user.first_name }}
            {% if request.user == userdata.user %}
            <div class="pt-3">
                <a class="btn btn-outline-light add-certificate" href="{% url 'add_certificate' userdata.user %}" title="Add New Certificate">
                    <span class="fas fa-plus"> New Certificate</span>
                </a>
            </div>
            {% endif %}
        </h4>
    </div>
</section>

<section class="page-section bg-info text-white py-2">
    <div class="container">
        <!--Certificate Items-->
        <div class="justify-content-center">
            {% for cert in certificates %}
            <div id="cert-{{ cert.id }}" class="mx-auto pt-5 mb-5 certificate">
                <div class="cert-desc">
                    <div class="certificate-item pb-3">
                        <h3 class="text-center">
                            {{ cert.title }}
                        </h3>
                        {% if request.user == cert.user.user %}
                        <div class="text-center">
                            <div>
                                <span class="fas fa-tags">: {{ cert.tags }}</span>
                            </div>
                            [ <a href="{% url 'edit_certificate' cert.id %}" title="Modify Certificate"
                                class="btn btn-sm btn-outline-light mr-3">
                                Modify
                            </a>
                            <a href="{% url 'del_certificate' cert.id %}" title="Delete Certificate"
                                class="btn btn-sm btn-outline-light ml-3">
                                Delete
                            </a> ]
                        </div>
                        {% endif %}
                        <time>
                            Started: {{ cert.date }} — Completed: {{ cert.end_date }}
                        </time>
                        <hr>
                        <div class="lead text-justify">
                            {{ cert.detail|linebreaks }}
                        </div>
                    </div>
                </div>
                {% if cert.image %}
                <div class="pb-4">
                    <figure>
                        <img class="img-thumbnail img-fluid" src="{{ cert.image.url }}" alt="Certificate Image One">
                        <figcaption>{{ cert.image_desc }}</figcaption>
                    </figure>
                </div>
                {% endif %}
            </div>
            {% empty %}
            <h4>No Certificate Found.</h4>
            {% endfor %}
        </div>
    </div>
</section>

<section class="page-section bg-primary text-white">
    <div class="container">
        <h4>Hire Me</h4>
        <div class="contact success">
            <div class="target">{{ userdata.target|linebreaks }}</div>
            <div class="action">{{ userdata.action|linebreaks }}</div>
            <a href="{% url 'profile' userdata %}#contact" title="Request for my services">
                <button type="button" class="btn btn-info btn-lg btn-outline-light">
                    <span class="fas fa-envelope"> Contact Me</span>
                </button>
            </a>
        </div>
    </div>
</section>
{% endblock contents %}
