{% extends './base.html' %}
{% load static %}


{% block page_title %}Simple Portfolio{% endblock page_title %}

{% block contents %}
{% block header %}
<!-- Masthead-->
<header id="header" class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'logo.png' %}" alt=""/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Simple Portfolio</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Free, Simple, Easy To Use Online Portfolio</p>
    </div>
</header>
{% endblock header %}
<!--About Section-->
<section id="about" class="page-section bg-info text-white">
    <div class="container">
        <!--About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">
            About
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--About Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            Welcome To Simple Portfolio
        </h4>
        <!--About Section Content-->
        <div class="row lead">
                <div class="col-lg-5 ml-auto">
                    <p>
                        The best free and easy to use online portfolio website. Simple Portfolio is here to satisfy the
                        need of teeming freelancers and independent contractors who may be having litle difficulties
                        setting up their own portfolio website.
                    </p>
                    <p>
                        You may be looking for a way to showcase yourself and your projects/talents online but lack what
                        it takes to getting your own portfolio running on the internet, look no further, Simple
                        Portfolio is here to the rescue.
                    </p>
                </div>
                <div class="col-lg-5 mr-auto">
                    <p>
                        To start, just <a href="{% url 'register' %}" title="Register Account">register an account</a>
                        to start enjoying nummerous benefits we have set up waiting for you to tap into. No need to pay
                        a dime, no wasting of time. You're just a minute away from getting your own personal environment
                        where you can showcase your interesting projects to potential clients leveraging on eye catching
                        design and simplicity of Simple Portfolio.
                    </p>
                </div>
        </div>
    </div>
</section>
<!--Features Section-->
<section id="features" class="page-section bg-primary text-white">
    <div class="container">
        <!--Features Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">
            Features
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Features Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            Elegant Features Out Of The Box
        </h4>
        <!--Features Section Content-->
        <div class="row lead">
            <p>
                After initial account setup (Registration), you get <strong>Free Lifetime Access</strong> to your personalized portfolio where you will;
            </p>
            <div class="col-lg-6 ml-auto">
                <!--Remove default list styling-->
                <ul class="list-unstyled text-justify">
                    <li>
                        <p>
                            <i class="fas fa-check fa-2x fa-pull-left"></i>
                            <h4><strong>Add Projects</strong></h4>
                            You will be able to add projects that you want you potential clients to see and be convinced to hire you. Each project has three image fields which you can use to back up your claims. A picture they say is worth more than a thousand words.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-check fa-2x fa-pull-left"></i>
                            <h4><strong>Add Experiences</strong></h4>
                            Have you worked with a Fortue 500 company or assisted, either independently or colaboratively in delivering that awesome project that you are so proud of? <br>
                            The experience section is the best place to talk about those moments you can't stop bragging about. Do it with style and win the trust of potential clients/employers.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-check fa-2x fa-pull-left"></i>
                            <h4><strong>Add Certificates</strong></h4>
                            Chances are that you have acquired certificate(s) while climbing your career path.
                            In this section, you have the opportunity to add and showcase these certificates to (potential)clients in an elegant fashion.
                            Certificates joined with your  projects, gives you more  advantage. Hence, we have given
                            you the choice to share and stand shoulders higher than competitors.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 mr-auto">
                <!--Remove default list styling-->
                <ul class="list-unstyled text-justify">
                    <li>
                        <p>
                            <i class="fas fa-check fa-2x fa-pull-left"></i>
                            <h4><strong>Have Private Inbox</strong></h4>
                            We know what it means to loose the contact of that special client. And we know how it feels when you loose a contract because you were not reachable at a time when the contract is due to be signed.<br><br>
                            We therefore provide you simple and efficient <strong>Private Inbox</strong> where your clients can leave urgent messages for you.<br>
                            <strong><em>Note:</em></strong> All your messages are forwarded to your registered email address. We also keep a copy in your account for easy access within the site and for references.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-check fa-2x fa-pull-left"></i>
                            <h4><strong>Have Personalized Profile</strong></h4>
                            In your profile, you can set your bio, social network accounts, skills, target clients or field of specialty, a short call to action, and lots more.<br>
                            We have made it easy for you to show yourself, but even easier for potential clients/employers to locate you and quickly see how you can help them achieve their needs.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-check fa-2x fa-pull-left"></i>
                            <h4><strong>Create Account!!!</strong></h4>
                            We have made it possible for your presence to be easily noticed online. Why delay it any further? Register free to instantly start that amazing and rewarding journery now...<br>
                            <a href="{% url 'register' %}" title="Create Free Account" class="btn btn-lg border border-white text-white">
                                <i class="fa fa-user"></i> Create Account
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Developer Section-->
<section id="developer" class="page-section bg-info text-white">
    <div class="container">
        <!--Developer Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">
            Developer
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Developer Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            Festus Ali
        </h4>
        <!--Developer Section Content-->
        <div class="row lead">
            <div class="col-lg-5 col-md-6 ml-auto">
                <p>
                    Developed, Designed and Deployed with love and passion by <strong>Festus Ali</strong>.
                </p>
                <p>
                    Festus is a passionate Full Stack Web Developer who emphasis project security, scalability and timely delivery. Delivers well tested, UX/UI aware web applications. Places priority on client's requirements while ensuring that user experience remains top notch. <br>
                    See <a href="https://simpleportfolio.pythonanywhere.com/user/festus/" target="_blank" rel="noopener noreferrer" title="View Full Portfolio">full portfolio</a> or connect on social media.
                </p>
            </div>
            <div class="col-lg-5 col-md-6 mr-auto">
                <p>
                    <h4 class="text-uppercase">Around the Web</h4>
                    <div class="mb-3">
                        Festus loves reading, writing and endless learning. And just as important, Networking. Connect via;
                    </div>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://facebook.com/festus.ali.560/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/alifestus/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://linkedin.com/festus-ali/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Festusali" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}