{% extends './profile.html' %}
{% load static %}

{% block nav_links %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'projects' userdata %}#projects">
        Projects
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'experiences' userdata %}#experiences">
        Experiences
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'certificates' userdata %}#certificates">
        Certificates
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#biodata">
        Biodata
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#contact">
        Contact
    </a>
</li>
{% endblock nav_links %}

{% block page_title %}{{ userdata }} Messages{% endblock page_title %}

{% block contents %}
<!--Message Section-->
<section id="messages" class="masthead bg-primary text-center text-white pb-5">
    <div class="container">
        <!--Message Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            {{ userdata.user.first_name }} Messages
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Message Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            {{ userdata.user.first_name }} Inbox Messages
        </h4>
    </div>
</section>

<section id="" class="page-section bg-info text-white">
    <div class="container">
        {% for msg in messages %}
        <div id="msg-{{ msg.id }}" class="pb-5 message">
            <div class="message-item">
                <h3>
                    From: {{ msg.sender }} — On: <time>{{ msg.date }}</time>
                    <a href="{% url 'del_message' msg.id %}" title="Delete Message" class="btn btn-info btn-outline-light float-right">
                        <span class="fas fa-trash"> Delete</span>
                    </a>
                </h3>
                <div>
                    <strong>Received From: </strong>Email: {{ msg.email }} — Phone Number: {{ msg.phone }}
                </div>
                <div class="text-justify p-2 bg-white text-dark">
                    {{ msg.message|linebreaks }}
                </div>
            </div>
        </div>
        {% empty %}
        <h3>Inbox Empty</h3>
        {% endfor %}
    </div>
</section>

{% endblock contents %}
