{% extends './base.html' %}
{% load static %}


{% block nav_links %}
{% if userdata %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profile' userdata %}#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'projects' userdata %}#projects">
        Projects
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'experiences' userdata %}#experiences">
        Experiences
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'certificates' userdata %}#certificates">
        Certificates
    </a>
</li>
{% else %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#features">
        Features
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#developer">
        Developer
    </a>
</li>
{% endif %}
{% endblock nav_links %}

{% block page_title %}Message Sent Successfully{% endblock page_title %}

{% block contents %}
<!--Sent Message Section-->
<section id="message-sent" class="masthead bg-primary text-center text-white pb-2">
    <div class="container">
        <!--Sent Message Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            Message Successfully Sent
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</section>

<section class="page-section bg-info text-white pt-2">
    <div class="container">
        <div class="lead">
            Your message was delivered successfully. Thank you. You will be replied appropriately soonest.
        </div>
    </div>
</section>
{% endblock contents %}