{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block description %}
<meta name="description"
    content="{{ userdata.bio|truncatewords:100 }}">
{% endblock description %}
{% block author %}
<meta name="author" content="{{ userdata.full_name }}">
{% endblock author %}
{% block keywords %}
<meta name="keywords" content="{{ userdata.tags }}">
{% endblock keywords %}


{% block brand_link %}{% url 'profile' userdata.user.username %}{% endblock brand_link %}

{% block page_title %}
{{ userdata.user.first_name|default:userdata.user.username }}'s Portfolio
{% endblock page_title %}


{% block brand_text %}
{{ userdata.user.first_name|default:userdata.user.username }} Portfolio
{% endblock brand_text %}

{% block brand_logo %}
{% if userdata.get_avatar %}
{{ userdata.get_avatar }}
{% else %}
{{ block.super }}
{% endif %}
{% endblock brand_logo %}

{% block nav_links %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#projects">
        Projects
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experiences">
        Experiences
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#certificates">
        Certificates
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#biodata">
        Biodata
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">
        Contact
    </a>
</li>
{% endblock nav_links %}


{% block contents %}

<!--User Profile Header-->
<header id="about" class="masthead bg-primary text-white text-center">
    <!--User Cover and Profile Image with Personal Details.-->
    <div class="cover">
        <!--Cover Image-->
        <div class="cover-up bg-primary">
            {% if userdata.get_cover %}
            <img src="{{ userdata.get_cover }}" alt="User Cover Image/Picture">
            {% else %}
            <img src="{% static 'img/portfolio_cover.jpg' %}" alt="User Cover Image/Picture">
            {% endif %}
        </div>
        <!--User Avatar/Profile Picture-->
        <div class="avatar mx-auto white">
            {% if userdata.get_avatar %}
            <img class="img-fluid" src="{{ userdata.get_avatar }}" alt="Profile Picture">
            {% else %}
            <img class="img-fluid" src="{% static 'images/users/default_avatar.png' %}" alt="Profile Picture">
            {% endif %}
        </div>
    </div>
    <div class="container">
        <!--Header Title-->
        <h1 class="masthead-heading text-uppercase mb-0">
            {{ userdata.full_name }}
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
            +{{ userdata.phone }} — {{ userdata.get_gender_display }}
        </p>
        <!--User profile details.-->
        <div class="py-4">
            <!--User Skills-->
            <p class="lead"><strong>SKILLS: </strong>{{ userdata.tags }}</p>
            <!--Modify Profile Links-->
            {% if request.user == userdata.user %}
            <p>
                [ <a href="{% url 'messages' userdata.user %}" title="View Inbox Messages"
                    class="btn btn-sm btn-outline-light">
                    <span class="fas fa-envelope"></span>
                    Messages
                </a> ] —
                [ <a href="{% url 'edit_profile' user.username %}" title="Modify Profile" class="btn btn-sm btn-outline-light mr-3">
                    <span class="fas fa-edit"></span>
                    Modify Profile
                </a>
                <a href="{% url 'add_project' userdata.user %}" title="Add New Project" class="btn btn-sm btn-outline-light mr-3">
                    Add Project
                </a>
                <a href="{% url 'add_experience' userdata.user %}" title="Add New Experience" class="btn btn-sm btn-outline-light mr-3">
                    Add Experience
                </a>
                <a href="{% url 'add_certificate' userdata.user %}" title="Add New Certificate" class="btn btn-sm btn-outline-light">
                    Add Certificate
                </a>
                ]
            </p>
            {% endif %}
            <!--Call TO Action Text-->
            <p class="lead">{{ userdata.action|linebreaks }}</p>
            {% if userdata.resume %}
            <!--Download Resume Button-->
            <a class="btn btn-xl btn-outline-light mr-2" href="{{ userdata.resume.url }}" title="Download Resume">
                <span class="fas fa-download"></span>
                Resume
            </a>
            {% endif %}
            <!--Contact Me Button-->
            <a class="btn btn-xl btn-outline-light ml-2" href="#contact" title="Contact Me">
                <span class="fas fa-envelope"></span>
                Contact Me
            </a>
        </div>
    </div>
</header>


<!--Projects Section-->
<section id="projects" class="page-section bg-info text-white">
    <div class="container">
        <!--Projects Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">
            {{ userdata.user.first_name }} Projects
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            {% for pro in userdata.get_projects %}
            <div class="col-lg-6 mb-5">
                <a class="item-image" href="{% url 'projects' pro.user %}#pro-{{ pro.id }}" title="{{ pro.title }}">
                    <div class="mx-auto">
                        {% if pro.image1 %}
                        <img class="img-fluid img-thumbnail" src="{{ pro.image1.url }}" alt="{{ pro.title }}">
                        {% endif %}
                        <div class="justify-content-center h-100 w-100">
                            <h4 class="text-center text-white lead">
                                {{ pro.title }}
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="row">
                <div class="col-sm-12 project-item">
                    <h1>No Projects</h1>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!--Experiences Section-->
<section id="experiences" class="page-section bg-primary text-center text-white">
    <div class="container">
        <!--Experiences Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">
            {{ userdata.user.first_name }} Experiences
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Experiences Grid Items-->
        <div class="row justify-content-center">
            {% for exp in userdata.get_experiences %}
            <div class="col-lg-6 mb-5">
                <a class="item-link" href="{% url 'experiences' exp.user %}#exp-{{ exp.id }}" title="{{ exp.title }}">
                    <div class="lead border border-light text-white mx-auto py-2 item-primary">
                        <h4 class="text-uppercase">
                            {{ exp.title }}
                        </h4>
                        <small>
                            <time>
                                {{ exp.start_date }} — {{ exp.end_date }}
                            </time>
                        </small>
                        <hr>
                        {% if exp.image %}
                        <div class="justify-content-center h-100 w-100 pt-3">
                            <img class="img-fluid" src="{{ exp.image.url }}" alt="{{ exp.title }}">
                        </div>
                        {% endif %}
                        <div class="text-left px-2">
                            {{ exp.detail|linebreaks }}
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="row">
                <div class="col-sm-12 project-item">
                    <h1>No experiences added yet.</h1>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!--Certificates Section-->
<section id="certificates" class="page-section bg-info text-center text-white">
    <div class="container">
        <!--Certificates Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">
            {{ userdata.user.first_name }} Certificates
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Certificate Grid Items-->
        <div class="row justify-content-center">
            {% for cert in userdata.get_certificates %}
            <div class="col-lg-6 mb-5">
                <a class="item-link" href="{% url 'certificates' cert.user %}#cert-{{ cert.id }}" title="{{ cert.title }}">
                    <div class="lead border border-light text-white mx-auto py-2 item-info">
                        <h4 class="text-uppercase">
                            {{ cert.title }}
                        </h4>
                        <small>
                            <time>
                                {{ cert.date }} — {{ cert.end_date }}
                            </time>
                        </small>
                        <hr>
                        {% if cert.image %}
                        <div class="justify-content-center h-100 w-100 pt-3">
                            <img class="img-fluid" src="{{ cert.image.url }}" alt="{{ cert.title }}">
                        </div>
                        {% endif %}
                        <div class="text-left px-2">
                            {{ cert.detail|linebreaks }}
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="row">
                <div class="col-sm-12 project-item">
                    <h1>No certificates added yet.</h1>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!--User Full Biodata Section-->
<section id="biodata" class="page-section bg-primary text-center text-white">
    <div class="container">
        <!--Biodata Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">
            {{ userdata.user.first_name }} Full Details
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--About Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            {{ userdata.user.first_name }} Full Details & Social Accounts
        </h4>
        <!--Biodata Section Contents-->
        <div class="row lead">
            <div class="col-md-6 mb-5 mb-md-0">
                <!--User name and picture-->
                <div class="border border-light text-white mx-auto">
                    {% if userdata.get_avatar %}
                    <img class="img-fluid w-100" src="{{ userdata.get_avatar }}" alt="{{ userdata.full_name }} Profile Picture">
                    {% else %}
                    <img class="img-fluid w-100" src="{% static 'images/users/default_avatar.png' %}" alt="Default Profile Picture">
                    {% endif %}
                    <div class="text-center lead pb-3">
                        {{ userdata.full_name }}
                    </div>
                </div>
                <!--User Skills-->
                <div class="skills"><strong>SKILLS: </strong>{{ userdata.tags }}</div>
                <!--User Social Accounts-->
                <div class="social-buttons py-3">
                    {% if userdata.facebook %}
                    <a class="btn btn-outline-light btn-social mx-1" href="{{ userdata.facebook }}" title="Connect me on Facebook" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    {% endif %}
                    {% if userdata.twitter %}
                    <a class="btn btn-outline-light btn-social mx-1" href="{{ userdata.twitter }}" title="Connect me on Twitter" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    {% endif %}
                    {% if userdata.linkedin %}
                    <a class="btn btn-outline-light btn-social mx-1" href="{{ userdata.linkedin }}" title="Connect me on LinkedIn" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    {% endif %}
                    {% if userdata.github %}
                    <a class="btn btn-outline-light btn-social mx-1" href="{{ userdata.github }}" title="Connect me on Github" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-fw fa-github"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="text-left col-md-6 mb-0">
                <!--User autobiography-->
                <div class="font-weight-lighter text-justify pb-5">
                    <h4 class="text-uppercase">About Me</h4>
                    {{ userdata.bio|linebreaks }}
                </div>
                <!--User target audience-->
                <div class="pb-3">
                    <h4 class="text-uppercase">Vision</h4>
                    {{ userdata.target|linebreaks }}
                </div>
                <!--User call to action text-->
                <div>
                    <h4 class="text-uppercase">Mission</h4>
                    {{ userdata.action }}
                </div>
                <!--Contact Me Button-->
                <div class="text-left mt-4">
                    <a class="btn btn-xl btn-outline-light" href="#contact">
                        <i class="fas fa-envelope"></i>
                        Contact Me
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Contact Section-->
<section id="contact" class="page-section bg-info text-white">
    <div class="container">
        <!--Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">
            Contact {{ userdata.full_name }}
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Contact Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            Send Private Message To {{ userdata.full_name }}
        </h4>
        <!--Contact Section Content-->
        <div class="contact-form">
            <form method="POST" action="{% url 'message' userdata %}">
            {% csrf_token %}
            {{ msg_form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-outline-light btn-lg">
                    <span class="far fa-envelope"></span> Send Message
                </button>
            </div>
            </form>
        </div>
    </div>
</section>

{% endblock contents %}