{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block other_navs %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#features">
        Features
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#developer">
        Developer
    </a>
</li>
{% endblock other_navs %}

{% block page_title %}Register Account{% endblock page_title %}

{% block contents %}
<!--Register Section-->
<section id="register" class="masthead bg-primary text-center text-white pb-5">
    <div class="container">
        <!--Register Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            Register Account
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Register Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            Create Account With Us Free
        </h4>
    </div>
</section>

<section class="page-section bg-info text-white py-2">
    <div class="container">
        <div class="register">
            <div class="lead pb-3">Quickly create an account and get personalized online portfolio website free!</div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="clearfix">
                    <button type="submit" class="btn btn-info btn-lg btn-outline-light float-left my-1">
                        <span class="fas fa-user"> Register</span>
                    </button>
                    <a href="{% url 'password_reset' %}" title="Reset Account Password" class="btn btn-info btn-lg btn-outline-light float-right mx-2 my-1">
                        Reset Password?
                    </a>
                    <a href="{% url 'login' %}" title="Login to your Account" class="btn btn-info btn-lg btn-outline-light float-right mx-2 my-1">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock contents %}