{% extends 'portfolio/base.html' %}
{% load static %}

{% block other_nav_links %}{% endblock other_nav_links %}

{% block page_title %}Password Change Successful{% endblock page_title %}

{% block contents %}

<section id="login" class="info">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <h2>{% block title %}Password Changed Successfully{% endblock title %}</h2>
        {% block title_divider %}<hr class="star-primary">{% endblock title_divider %}
    </div>
</div>


<div>Your password has been changed successively.</div>

<p>To login, go to <a href="{{ url 'login' }}" title="Login">Login page</a> and enter your username and your "new password"</p>

Or try <a href="{% url 'index' %}" title="Simple Portfolio">Home page instead</a>

</div>
</section>

{% endblock contents %}
