{% extends 'portfolio/base.html' %}
{% load static %}

{% block other_navs %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#features">
        Features
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#developer">
        Developer
    </a>
</li>
{% endblock other_navs %}

{% block page_title %}Password Change Successful{% endblock page_title %}

{% block contents %}
<!--Password Section-->
<section id="reset-complete" class="masthead bg-primary text-center text-white pb-5">
    <div class="container">
        <!--Password Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            Password Changed Successfully
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</section>

<section class="page-section bg-info text-white py-2">
    <div class="container">
        <div class="rest-done">
            <div class="lead pb-3">
                Your password has been changed successively.
            </div>
            <p>
                The password reset process is done. If you need further help, please do let us know.<br>
                <a href="{% url 'login' %}" title="Login to your Account" class="btn btn-info btn-lg btn-outline-light float-right mx-2 my-1">
                    Login
                </a>
            </p>
        </div>
    </div>
</section>

{% endblock contents %}
