{% extends 'portfolio/base.html' %}
{% load static %}

{% block other_navs %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#features">
        Features
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#developer">
        Developer
    </a>
</li>
{% endblock other_navs %}

{% block page_title %}Password Reset Email Sent{% endblock page_title %}

{% block contents %}
<!--Reset Section-->
<section id="reset-email" class="masthead bg-primary text-center text-white pb-5">
    <div class="container">
        <!--Reset Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            Password Reset Email Sent
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--Reset Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            We Have Emailed You Instructions On How Reset Your Password
        </h4>
    </div>
</section>

<section class="page-section bg-info text-white py-2">
    <div class="container">
        <div class="lead pb-3">
            <p>
                Instructions on how to reset your password have been sent to your registered email address.<br>
                If after few minutes and the message haven't arrived your inbox, please check your Spam/Junk
                folder. If the later should be the case, please mark the message as "Not Spam" and add us to your Contact's White List.
            </p>
            <p>
                If you have waited for sometime and still can't find the message in your inbox or spam folder, please check that you have entered a valid email and request a new <a href="{% url 'password_reset' %}" title="Request New Password Reset Link">Reset Link</a>.
            </p>
            <div class="clearfix">
                <a href="{% url 'index' %}" title="Back To Home Page" class="btn btn-info btn-lg btn-outline-light float-left mx-2 my-1">
                    Home
                </a>
                <a href="{% url 'login' %}" title="Login to your Account" class="btn btn-info btn-lg btn-outline-light float-right mx-2 my-1">
                    Login
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock contents %}