.site-name {
    font-size: 30px;
}

.pro-image {
  height: 250px;
  width: 300px;
}

.full-pro-image {
    max-height: 100%;
    max-width: 100%;
    min-height: 500px;
    min-width: 500px;
}


.active {
  background-color: aqua;
}

div a.item-image, a.section-title {
  color: #fdfcfc;
}
