{% extends 'portfolio/base.html' %}
{% load static %}

{% block other_navs %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">
        About
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#features">
        Features
    </a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#developer">
        Developer
    </a>
</li>
{% endblock other_navs %}

{% block page_title %}404 | Content not Found{% endblock page_title %}

{% block contents %}
<!--404 Section-->
<section id="404" class="masthead bg-primary text-center text-white pb-5">
    <div class="container">
        <!--404 Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase">
            Content Not Found
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--404 Section Sub-Heading-->
        <h4 class="masthead-subheading text-center font-weight-light mb-3">
            The Content You Were Looking For Wasn't Found
        </h4>
    </div>
</section>

<section class="page-section bg-info text-white py-2">
    <div class="container">
        <div class="lead pb-3">
            <p class="bg-danger text-white p-2">
                <strong>{{ exception }},</strong> the requested content at <strong>{{ request_path }}</strong> could not
                be found.
            </p>
            <div>
                If you typed the URL manually or that you copied it, ensure its correct.
                While we are at it, check out other features at the
                <a href="{% url 'index' %}" title="Simple Portfolio"
                    class="btn btn-info btn-sm btn-outline-light mx-2 my-1">
                    Home Page
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}
